$background-color-primary: #deeaee;
$background-color-primary-hover: #b1cbbb;

$background-color-secondary: #f7cac9;
$background-color-secondary-hover: #f7dcc9;

$border-color: #eea29a;
$border-color-hover: #c94c4c;

$text-color: #000;
