/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';

/* configure the body */
body {
	height:100vh;
	padding: 0px;
	margin: 0px;
}

.hide {
  	display: none;
}

h1, h2, h3, h4, h5 {
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

*, ::before, ::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, button {
	&.btn {
		padding: 3px 8px;
		margin: 1px 2px;
		border: 1px solid;
		// box-shadow: $box-shadow;
		cursor: pointer;

		/* Default coloring */
		background-color: $button-color-default;
		border-color: $button-color-default-border;
		color: $text-color;
		&:hover {
			background-color: darken($button-color-default, $button-darkening-factor);
		}

		&.btn-info {
			background-color: $button-color-info;
			border-color: $button-color-info-border;
			color: $text-color-inverted;

			&:hover {
				background-color: darken($button-color-info, $button-darkening-factor);
			}
		}
		&.btn-danger {
			background-color: $button-color-danger;
			border-color: $button-color-danger-border;
			color: $text-color-inverted;

			&:hover {
				background-color: darken($button-color-danger, $button-darkening-factor);
			}
		}
		&.btn-success {
			background-color: $button-color-success;
			border-color: $button-color-success-border;
			color: $text-color-inverted;

			&:hover {
				background-color: darken($button-color-success, $button-darkening-factor);
			}
		}
		&.btn-warning {
			background-color: $button-color-warning;
			border-color: $button-color-warning-border;
			color: $text-color;

			&:hover {
				background-color: darken($button-color-warning, $button-darkening-factor);
			}
		}
	}
}

input {
	width: 100%;
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: $text-color;
	background-color: $input-background-color;
	border: $input-border-color;
	font-family: inherit;

	-webkit-box-shadow: $box-shadow;
	box-shadow: $input-box-shadow;

	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


table {
	margin: 10px 15px;

	thead, tbody {
		tr {
			td, tr{
				background-color: transparent;
			}
		}
	}
}

.center {
	text-align: center;
}