$header-background-color: #3c8dbc;
$navbar-background-color: #f9fafc;

$background-color-primary: #deeaee;
$background-color-primary-border: #b1cbbb;

$background-color-secondary: #f7cac9;
$background-color-secondary-border: #f7dcc9;

$links-border-color: #d3d6f6;
$links-border-color-hover: #c94c4c;

$text-color: #000;
$text-color-inverted: #fff;

$button-darkening-factor: 7%;
$button-color-info: #367fa9;
$button-color-info-border: #32769e;
$button-color-danger: red;
$button-color-danger-border: #dd0606;
$button-color-warning: yellow;
$button-color-warning-border: #bdbd05;
$button-color-success: green;
$button-color-success-border: #037103;
$button-color-default: #fff;
$button-color-default-border: #fafafa;

$card-color-default-background: #fafafa;
$card-color-default-border: rgb(198, 193, 193);
$card-color-info-background: #367fa9;
$card-color-info-border: #32769e;
$card-color-danger-background: red;
$card-color-danger-border: #dd0606;
$card-color-warning-background: yellow;
$card-color-warning-border: #bdbd05;
$card-color-success-background: green;
$card-color-success-border: #037103;

$input-background-color: #fff;
$input-border-color: 1px solid #ccc;
$input-border-color-active: 1px solid #aaa;

$box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
$input-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
