<div class="cards-grid">
	<div class="card">
		<div class="card-header">
			<h5 class="title">Card 1</h5>

			<div class="btn-tray">
				<a class="btn btn-info"><i>1</i></a>
				<a class="btn btn-warning"><i>2</i></a>
				<a class="btn btn-danger"><i>3</i></a>
			</div>
		</div>
		<div class="card-body">
			<table>
				<thead>
					<tr>
						<th>Col 1</th>
						<th>Col 2</th>
						<th>Col 3</th>
						<th>Col 4</th>
						<th>Col 5</th>
						<th>Col 6</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Cell 1</td>
						<td>Cell 2</td>
						<td>Cell 3</td>
						<td>Cell 4</td>
						<td>Cell 5</td>
						<td>Cell 6</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="card">Card 2</div>
	<div class="card">Card 3</div>
	<div class="card">Card 4</div>
	<div class="card">Card 5</div>
</div>